
@{
    ViewBag.Title = "DaNhanMail_64131375";
    Layout = "~/Views/Shared/_LayoutUser_64131375.cshtml";
}




<style>
    .centered-image {
        width: 170px; /* Điều chỉnh chiều rộng */
        height: 170px; /* Điều chỉnh chiều cao */
        display: block; /* Chuyển hình ảnh thành phần khối */
        margin-left: auto; /* Canh trái tự động */
        margin-right: auto; /* Canh phải tự động */
    }
</style>

<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col col-12 d-flex align-content-center justify-content-center">
            <img class="centered-image" src="~/Content/userAssets/img/email1.jpg" />

        </div>
        <h2 style=" width: 100%; text-align: center;">Đã gửi Email</h2>
       
    </div>
</div>

