
@{
    ViewBag.Title = "Index_64131375";
    Layout = "~/Views/Shared/_LayoutUser_64131375.cshtml";
}
<style>
    .responsive-img {
        display: block; /* Để hình ảnh không bị ảnh hưởng bởi khoảng trắng thừa */
        max-width: 100%; /* Giới hạn chiều rộng tối đa là 100% */
        height: auto; /* Duy trì tỉ lệ khung hình */
        margin: 0 auto; /* Canh giữa ảnh trong trang */
        border-radius: 10px; /* Góc bo tròn để ảnh mềm mại hơn */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
    }

</style>

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="@Url.Action("Index_64131375", "Home_64131375")">Trang chủ</a>
                <span class="breadcrumb-item active">Giới thiệu</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Shop Detail Start -->
<div class="container-fluid pb-5">
    <div class="row px-xl-5">



    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="bg-light p-30">
                <div class="nav nav-tabs mb-4">
                    <h1 class="mb-3">Giới thiệu về cửa hàng sữa Tuyết Vy</h1>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-pane-1">

                        <p>
                            1. Hệ thống shop sữa Tuyết Vy đồng hành cùng con trẻ <br />
                            "Ở đây có sản phẩm giúp con bạn cải thiện sức khỏe - chiều cao - cân nặng"
                            Với vị thế cũng là phụ huynh của các bé, cũng từng đau đầu khi phải lựa chọn sản phẩm sữa,
                            ăn dặm hay dụng cụ phù hợp cho con mình.<br /> Chính vì điều đó tạo ra một động lực cho chị là mở 
                            ra một shop chuyên dụng bán những loại sản phẩm phù hợp cho mẹ và bé. <br />Sứ mệnh của chiếc shop đáng yêu 
                            này là mong muốn giải quyết nỗi phiền lo cho các vị phụ huynh đang có con nhỏ mà không biết chọn sản
                            phẩm như thế nào hoặc thậm chí là các mẹ bầu đang đắn đo trong việc lựa chọn sữa dành cho mẹ bầu lúc mang thai. <br />Với kinh nghiệm của bản thân, anh chị đã tạo ra những giá trị cực kì tốt và luôn được đánh giá 5 sao về chất lượng.

                            Khi lựa chọn tại cửa hàng thì các vị phụ huynh của chúng ta thoải mái lựa chọn 
                            sản phẩm và còn được đội ngũ nhân viên đã qua đào tạo chuyên nghiệp giúp đỡ trong 
                            việc lựa chọn sản phẩm khi gặp khó khăn.<br /> Không những thế, các sản phẩm của shop còn
                            có giá cả phù hợp, rõ ràng nguồn gốc, còn cho các vị phụ huynh quét mã QR code để kiểm
                            định chất lượng hàng hóa trước khi mua.<br /> Ngoài ra, còn có chính sách giao hàng tận
                            nơi khi mua quá nhiều hoặc đặt hàng online mà không tới shop.<br /> Điều này đã tạo nên lòng 
                            tin của khách hàng với shop, và cũng chính vì thế mà shop đã mở rộng quy mô kinh doanh tới
                            7 chi nhánh tại: Đồng Nai, Khánh Hòa và “Lâm Đồng".
                        </p>
                        <img class="alignnone wp-image-25452 size-full entered lazyloaded responsive-img" src="~/Content/userAssets/img/cuahangsua6.jpg" alt="Showroom Sữa Cừa Hàng Tuyết Vy" width="1280" height="960">
                        <p>Đến tham quan và mua sắm tại cửa hàng sữa cao cấp Tuyết Vy, Quý khách sẽ hoàn toàn có thể yên tâm và tin tưởng vào sự uy tín cũng như được đảm bảo về nguồn gốc của từng sản phẩm, cùng với chế độ úu đãi. Quý khách hàng sẽ dễ dàng tìm được sự lựa chọn tốt nhất về các dòng sản phẩm sữa chất lượng cao dinh dưỡng cho gia đình mình và những người thân yêu.</p>


                        <p>Nắm bắt được nhu cầu đó của Quý khách hàng, website www.tuyetvy.vn đã được ra đời. Chúng tôi hy vọng, qua website, Quý khách hàng sẽ lựa chọn được các sản phẩm phù hợp với nhu cầu của mình trong thời gian ngắn nhất với chi phí phù hợp nhất.</p>

                        <div class="row">

                            <div class="col-md-12">

                                <h3><strong>1.2:Danh mục các thương hiệu sữa nổi tiếng tại Việt Nam Có Mặt Tại Cửa Hàng Sữa Tuyết Vy</strong></h3>
                                <h4>– SỮA BỘT NUTIFOOD:</h4>
                                <p>+Là công ty sữa hàng đầu về thực phẩm dinh dưỡng tại Việt Nam, và được Người tiêu dùng Việt Nam liên tục bình chọn: Top 5 hàng Việt Nam chất lượng cao tương đương với hàng nhập ngoại</p>
                                <p>+Các sản phẩm dinh dưỡng từ sữa của công ty đáp ứng nhu cầu dinh dưỡng cần thiết của cộng đồng và góp phần vào sự phát triển toàn diện về thể chất của người Việt Nam.</p>
                                <p>
                                    +NutiFood không chỉ là sữa bột nội giá tốt mà còn được điều chế dinh dưỡng theo công thức đặc trị được nghiên cứu bởi các bác sĩ, chuyên gia dinh dưỡng nổi tiếng hàng đầu các nước. Vì vậy, sữa bột NutiFood đem lại hiệu quả rõ rệt đã được chứng minh.
                                    Chất lượng sữa bột NutiFood không thua kém bất cứ dòng sữa bột nhập khẩu nào hiện nay.
                                </p>
                                <h4>– SỮA BỘT CỦA VINAMILK OPTIMUS:</h4>
                                <p>
                                    + Vinamilk được biết đến là Thương hiệu Quốc gia và thuộc Top 50 Công ty sữa lớn nhất thế giới . Vinamilk đã và đang góp phần vào sự phát triển của ngành sữa Việt
                                    Nam và hiện thực hóa mục tiêu đưa sữa Việt vươn tầm thế giới..<br>
                                    + Vinamilk có dòng sữa công thức Dielac dành cho trẻ em với độ tuổi đa dạng từ sơ sinh đến 6 tuổi. Hiện nay Vinamilk có các dòng sữa Dielac Alpha, Dielac Alpha Gold, Dielac Optimum với nhiều
                                    thành phần dinh dưỡng giúp bé phát triển đầy đủ về sức đề kháng, hệ miễn dịch, hệ tiêu hóa và chiều cao cân nặng.<br>
                                    + Vinamilk được đánh giá là chất lượng tốt. Giá thành sản phẩm phải chăng khiến sản phẩm sữa bột của Vinamilk đang được nhiều mẹ lựa chọn.
                                </p>
                                <h4>– SỮA BỘT CỦA ABBOTT PEDIA SURE:</h4>
                                <p>
                                    + Abbott là hãng sữa của Mỹ tại Việt Nam được nhiều bà mẹ biết đến, chọn lựa và tin dùng. Hiện nay, Abbot có doanh số bán hàng mạnh nhất. Các sản phẩm dòng Gold là tốt nhất chất lượng ổn định như:
                                    Similac cho bé từ 0-6 tháng, Similac gain cho bé từ 6-12 tháng, Gain plus cho bé từ 1-3 tuổi.<br>
                                    + Những sản phẩm SỮA ABBOTT PEDIA SURE được cung cấp bởi Shop cửa hàng sữa Trâm Anh là những sản phẩm được tuyển chọn kĩ càng đảm bảo phải chất lượng chính xác với mức giá sản phẩm. Để khách hàng yên tâm mỗi khi nhắc tới Cửa hàng sữa Tuyết Vy.
                                    +Dòng cao cấp cho trẻ biếng ăn PediaSure cho bé từ 1-10 tuổi. Đây là dòng sữa tốt tuy nhiên có quá nhiều chất bổ nên không nên sử dụng thường xuyên. Ngoài ra còn có dòng sản phẩm Similac Neosure. Newborn dành cho trẻ thiếu tháng.
                                </p>

                                <img class="alignnone wp-image-25452 size-full entered lazyloaded responsive-img" src="~/Content/userAssets/img/cuahangsua2.jpg" alt="Showroom Sol music Music" width="1280" height="960">
                                <h3><strong>1.3 SỮA ENFA MỸ:</strong></h3>
                                <p>
                                    +Đây là dòng sản phẩm tốt nhưng giá tiền cũng khá cao nên dành cho các gia đình có điều kiện kinh tế khá. Enfalac cho bé từ 0-6 tháng. Enfapro cho bé từ 6-12 tháng. Enfagrow cho bé từ 1-3 tuổi. Enfakid cho trẻ từ 4 tuổi trở lên.
                                    Ngoài ra Enfa mới bổ sung A+ Brain Plus tăng cường dưỡng chất cho não. Phát triển trí thông minh cho bé.
                                </p>
                                <p>+Sữa Enfa Mỹ thuộc Top 10 nhãn hiệu sữa bột uy tín nhất tại Việt Nam! Đang có mặt tại Shop sữa Tuyết Vy</p>
                                <h4>– SỮA MEIJI NHẬT:</h4>
                                <p>
                                    + Thương hiệu Meiji được thành lập từ năm 1917. Hơn 100 năm lịch sử cũng là hơn 100 năm đồng hành cùng sữa.
                                    Meiji luôn mang đến sự khỏe mạnh cho con người bằng sức mạnh tự nhiên có được từ sữa.
                                    Meiji là một công ty sữa truyền thống lâu đời tại Nhật Bản và Châu Á. Luôn tích lũy và phát triển hơn nữa kỹ thuật từ sữa. Phát triển sản phẩm dựa trên lượng thông tin phong phú từ khắp nơi trên thế giới.
                                </p>

                                <img class="alignnone wp-image-25452 size-full entered lazyloaded responsive-img" src="~/Content/userAssets/img/cuahangsua3.jpg" alt="Showroom Sol music Music" width="1280" height="960">
                                <p>&nbsp;</p>
                                <h4>–SỮA TƯƠI DUCTH LADY:</h4>
                                <p>+ Một trong các thương hiệu sữa tươi tại việt nam mà bạn không thể bỏ qua chính là  Dutch Lady. Dutch Lady Việt Nam là công ty liên doanh giữa công ty sản xuất và xuất nhập khẩu Bình Dương – Việt Nam với tập đoàn Friesland Foods nổi tiếng của Hà Lan trong lĩnh vực sản xuất sữa.</p>
                                <p>Sản phẩm sữa của công ty đưa ra thị trường Việt Nam từ năm 1996 với nhãn hiệu: Cô gái Hà Lan rất thân thuộc và gần gũi với người tiêu dùng. Cùng với Vinamilk, Dutch Lady chiếm 61 % thị phần sữa trong nước với nhiều sản phẩm được bán chạy khác </p>
                                <h4>– SỮA TƯƠI NESTLE:</h4>
                                <p>+ Thương hiệu sữa Nestle cũng là một trong các thương hiệu sữa tươi tại Việt Nam được người tiêu dùng yêu thích. Sản phẩm thuộc đại gia đình dinh dưỡng Nestle – công ty thực phẩm lớn nhất trên thế giới có trụ sở được đặt tại Thụy Sĩ và đã có mặt tại Việt Nam vào năm 1912.</p>
                                <p>Các sản phẩm sữa của Nestle vô cùng đa dạng như: Mi lô (sữa nước, sữa bột) dành cho trẻ từ 6 – 12 tuổi – được các bạn nhỏ rất yêu thích</p>
                                <h4>– Sữa BỘT TĂNG CHIỀU CAO GROW PLUS:</h4>
                                <p>+ Grow Plus là loại sữa công thức dành cho trẻ suy dinh dưỡng, thấp còi đầu tiên tại Việt Nam. Sữa được phát triển bởi các chuyên gia dinh dưỡng của hãng Nutifood (một trong 3 nhà sản xuất và kinh doanh sữa lớn nhất Việt Nam).</p>
                                <p>+Muốn phát triển chiều cao cho con có thể trạng thấp bé, các bậc cha mẹ có thể lựa chọn loại sữa Grow Plus đỏ dành cho trẻ trên hoặc dưới 1 tuổi suy dinh dưỡng, thấp còi</p>
                                <p> +Dòng sữa này được nghiên cứu và sản xuất phù hợp với cơ địa, thể trạng của trẻ em nước ta. Do đó, trẻ dễ hấp thụ và ít có nguy cơ dị ứng hơn các dòng sữa nhập khẩu từ nước ngoài.</p>
                                <h3><strong>1.4 SỮA TĂNG CHIỀU CAO FRISOLAC GOLD:</strong></h3>
                                <p>
                                    + Ngoài dòng sữa Friomum Gold dành cho bà bầu thì hãng sữa Friso còn nổi tiếng với sữa Frisolac Gold – sữa tăng cân, sữa tăng chiều cao cho bé. Hiện nay, sản phẩm này được sản xuất tại nhiều quốc gia trên toàn thế giới như Hà Lan, Nga … trong đó có Việt Nam.
                                    .Tạo hệ miễn dịch hoàn thiện.Tốt cho hệ tiêu hóa, giúp bé hấp thụ chất dinh dưỡng, cải thiện cân nặng và chiều cao cho.Hỗ trợ trí não phát triển.Thành phần sữa giống sữa mẹ đến 90%, hương vị dễ uống, thơm ngon như bầu sữa mẹ

                                </p>
                                <h3><strong>1.5 SỮA TĂNG CHIỀU CAO NUVITA GROW:</strong></h3>
                                <p>+ Sữa Nuvita Grow là sản phẩm của thương hiệu Nutifood.</p>
                                <p>+Đây là một trong những thương hiệu chiếm thị phần sữa số 1 Việt Nam.</p>
                                <p>
                                    +Với 10 năm kinh nghiệm trong lĩnh vực sữa tăng chiều cao, các sản phẩm của Nutifood thường được bán rất chạy vì chất lượng tuyệt vời. Sữa Nuvita Grow là sữa tăng chiều cao
                                    cho bé nhanh chóng và an toàn đáng để các mẹ suy nghĩ.
                                </p>



                                <img class="alignnone wp-image-25452 size-full entered lazyloaded responsive-img" src="~/Content/userAssets/img/cuahangsua4.jpg" alt="Showroom Sol music Music" width="1280" height="960">







                            </div>

                        </div>
                        <p class="mt-4">
                            Phía trên đây là các loại sữa, tiêu chuẩn cao và chất lượng được cửa hàng sữa Tuyết Vy phân phối sỉ lẻ chính hãng. Khách hàng có nhu cầu mua hàng hay giải đáp thắc mắc hoặc đặt hàng online có thể liên hệ các số điện thoại có sẵn trên website hoặc tới các showroom cửa hàng sữa Tuyết Vy gần nhất để mua hàng trực tiếp.
                        </p>
                    </div>




                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shop Detail End -->
