
@{
    ViewBag.Title = "Admin Home";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin_64131375.cshtml";
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Quản Trị Viên</title>
    <style>
        .blink {
            font-size: 24px;
            font-weight: bold;
            color: #f00; /* Màu chữ */
            animation: blink-animation 1s steps(1, start) infinite;
        }

       
        
    </style>
</head>
<body>
    <h2 class="blink">Chào mừng Admin đến với trang quản trị của Cửa hàng Sữa Tuyết Vy</h2>
</body>
</html>


